/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%; }

body {
  background: white;
  font-family: "Montserrat", sans-serif;
  line-height: 1.625; }

article p {
  margin-left: 1em;
  margin-right: 1em; }

a:active,
a:focus {
  outline: none; }

footer {
  background: #FE9ACE;
  text-align: center;
  font-size: .615rem;
  line-height: 1.625rem; }
  footer .sm img {
    height: 1em;
    width: auto;
    position: relative;
    top: .1em; }

@media (min-width: 640px) {
  html {
    position: relative;
    min-height: 100%; }
  footer {
    background: linear-gradient(to right, #f263ae 0, #FE9ACE 9vw, #FE9ACE 81vw, #f263ae 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.625rem; } }

#main {
  background: #FE9ACE;
  padding-bottom: 1.625rem; }
  #main header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.625rem; }
  @media (min-width: 1280px) {
    #main picture img {
      width: 163px; } }
  #main p {
    margin: 0; }
  #main ul {
    margin-left: 1em;
    list-style: square; }
  @media (min-width: 640px) {
    #main header,
    #main article {
      width: 640px;
      margin-left: auto;
      margin-right: auto; }
    #main header {
      font-size: 2em; } }
  @media (max-width: 640px) {
    #main article {
      margin-left: 8vw;
      margin-right: 8vw; } }

footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
