@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: white;
  font-family: "Montserrat", sans-serif;
  line-height: 1.625; }

article p {
  margin-left: 1em;
  margin-right: 1em; }

a:active,
a:focus {
  outline: none; }

.footer {
  background: #FE9ACE;
  text-align: center;
  font-size: 0.61538rem;
  line-height: 1.625rem; }
  .footer .sm img {
    height: 1em;
    width: auto;
    position: relative;
    top: .1em; }

@media (min-width: 640px) {
  html {
    position: relative;
    min-height: 100%; }
  body {
    padding-bottom: 1.625rem; }
  .footer {
    background: linear-gradient(to right, #f263ae 0, #FE9ACE 9vw, #FE9ACE 81vw, #f263ae 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.625rem; } }

.reg-a {
  background: #FE9ACE;
  padding-bottom: 3.25rem; }
  .reg-a a {
    color: white; }
  .reg-a header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.625em; }
  @media (max-width: 640px) {
    .reg-a article p {
      margin-left: 8vw;
      margin-right: 8vw; } }
  @media (min-width: 640px) {
    .reg-a header {
      font-size: 2em; }
    .reg-a header,
    .reg-a article {
      width: 640px;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 1280px) {
    .reg-a.escuela {
      position: relative;
      height: 40vw;
      background-image: url("i/ilustración-escuela.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 100%; }
      .reg-a.escuela header {
        display: flex;
        justify-content: center; }
        .reg-a.escuela header h1 {
          position: relative;
          top: 44px; }
      .reg-a.escuela article {
        position: absolute;
        top: 60%;
        left: 0;
        right: 0; } }
  @media (min-width: 1440px) {
    .reg-a.escuela {
      height: 32vw;
      background-size: 80%; } }
  @media (min-width: 1920px) {
    .reg-a.escuela {
      height: 27vw;
      background-size: 60%; }
      .reg-a.escuela article {
        top: 50%; } }

@media (min-width: 640px) {
  .reg-b {
    width: 640px;
    margin: 0 auto; } }

.reg-b article {
  margin: 1.625rem 0; }
  .reg-b article header {
    margin-bottom: 1.625em; }
    .reg-b article header h1 {
      background: #f263ae;
      font-weight: bold;
      padding: .175em .62em .2em 1.62em;
      display: inline; }
  .reg-b article p,
  .reg-b article ol {
    margin-left: 1.625rem;
    margin-bottom: 1.625rem; }
  .reg-b article ol {
    list-style: outside none lower-roman; }

table.horarios {
  margin-left: 2.625rem;
  width: 100%; }
  table.horarios th {
    text-align: left; }

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }
  @media (max-width: 640px) {
    .google-maps {
      margin-left: 4vw;
      margin-right: 4vw; } }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }
