/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%; }

body {
  background: white;
  font-family: "Montserrat", sans-serif;
  line-height: 1.625; }

article p {
  margin-left: 1em;
  margin-right: 1em; }

a:active,
a:focus {
  outline: none; }

footer {
  background: #FE9ACE;
  text-align: center;
  font-size: .615rem;
  line-height: 1.625rem; }
  footer .sm img {
    height: 1em;
    width: auto;
    position: relative;
    top: .1em; }

@media (min-width: 640px) {
  html {
    position: relative;
    min-height: 100%; }
  footer {
    background: linear-gradient(to right, #f263ae 0, #FE9ACE 9vw, #FE9ACE 81vw, #f263ae 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.625rem; } }

#intro {
  background: #FE9ACE; }
  #intro a {
    color: white; }
  @media (max-width: 1280px) {
    #intro {
      padding-bottom: 1.625em; } }
  @media (min-width: 1280px) {
    #intro {
      height: 470px;
      background-image: url("i/logo-parapeto.png");
      background-repeat: no-repeat; }
      #intro picture img {
        width: 163px; } }
  @media (min-width: 640px) {
    #intro header,
    #intro article {
      width: 640px;
      margin: 0 auto; }
    #intro header {
      font-size: 2em; } }
  @media (max-width: 640px) {
    #intro article p {
      margin-left: 8vw;
      margin-right: 8vw; } }
  #intro header {
    text-align: center;
    font-weight: bold; }
  #intro header,
  #intro article {
    margin-bottom: 1.625em; }

#main {
  padding-bottom: 1.625rem; }
  @media (min-width: 640px) {
    #main {
      width: 640px;
      margin-left: auto;
      margin-right: auto; } }
  #main article {
    margin: 1em 0; }
    #main article header {
      margin-bottom: 1.625em; }
      #main article header h1 {
        background: #f263ae;
        font-weight: bold;
        padding: .175em .62em .2em 1.62em;
        display: inline; }
    #main article p,
    #main article ul {
      margin-left: 1.625em;
      margin-bottom: 1.625em; }
    #main article li {
      margin-left: 1em; }
    #main article table.horarios {
      margin-left: 2.625em;
      width: 100%; }
      #main article table.horarios th {
        text-align: left; }
    #main article .google-maps {
      position: relative;
      padding-bottom: 75%;
      height: 0;
      overflow: hidden; }
      @media (max-width: 640px) {
        #main article .google-maps {
          margin-left: 4vw;
          margin-right: 4vw; } }
      #main article .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important; }
